nav {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
}
nav img {
    height: 100px;
    margin-right: 50px;
}
nav h1 {
    font-size: 2rem;
    color: #333;
    margin: 100;
    align-items: center;
}

 /* Contenedor general */
 .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
}

/* Contenedor de productos */
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }
        .row {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px; 
        }
        .col img {
            width: 100%; 
            height: auto; 
            border: 1px solid #ccc; 
            border-radius: 5px; 
        }
        h1 {
            text-align: center;
            margin-top: 20px;
            color: #333;
        }

         
          /* Títulos */
          .col h2 {
            font-size: 1.2rem;
            color: #333;
            margin: 10px 0;
            text-align: center;
          }

         /* Descripciones */
         .col h3 {
            font-size: 0.9rem;
            color: #666;
            line-height: 1.5;
            text-align: center; 
            
        }

        .col h4 {
            font-size: 0.9rem;
            color: #666;
            line-height: 1.5;
            text-align: center; 
            
        }

        footer {
            display: flex;
            align-items: center;
            padding: 10px;
            background-color: #f5f5f5;
            text-align: center;
        }